.active-orders{
    width: 100%;
    padding: 40px;
    position: relative;
    display: grid;
    align-items: center;
    grid-column-gap: 48px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
}


.paper-scheduled,
.paper-placed{
    padding: 5%; 
    align-items: center;
    border: 1px solid rgb(235, 238, 240);
}

.paper-scheduled h3,
.paper-placed h3{
    width: 100%; 
    margin: 0 0 30px 0;
    text-align: left; 
    font-weight: 500;
    letter-spacing: 0.015em;
    color: #3a4554;
}

.ul-hdr-scheduled-table,
.ul-row-scheduled-table,
.ul-hdr-placed-table,
.ul-row-placed-table{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    list-style: none;
    width: 100%;
}

.ul-hdr-scheduled-table,
.ul-hdr-placed-table{
    grid-template-columns: 15% 15% 30% 20% 10% 10%;
    margin: 5px;
}

.ul-row-scheduled-table,
.ul-row-placed-table{
    border: 1px solid rgb(214, 220, 224);
    border-radius: 15px;
    margin: 0 0 20px 0;
    grid-template-columns: 15% 15% 30% 20% 10% 10%;
}

.ul-hdr-scheduled-table li,
.ul-row-scheduled-table .ul-li,
.ul-hdr-placed-table li,
.ul-row-placed-table .ul-li{
    text-align: center; 
    line-height: 20px;
    color: #3a4554;
}

.body-modal-order{
    width: 60%;
    max-height: 80%;
    margin: auto;
    padding: 30px 40px;
    overflow-y: scroll;
    background-color: #fff;
}

.ul-row-scheduled-table .lni-eye,
.ul-row-placed-table .lni-eye{
    display: flex;
    margin: auto;
}

.body-modal-order ul{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    list-style: none;
    width: 100%;
}

.body-modal-order li{
    text-align: center; 
    line-height: 20px;
    color: #3a4554;
}

.body-modal-order .ul-hdr-pu-table,
.body-modal-order .ul-row-pu-table{
    grid-template-columns: 10% 15% 35% 20% 20%;
}

.body-modal-order .ul-hdr-do-table,
.body-modal-order .ul-row-do-table{
    grid-template-columns: 20% 40% 20% 20%;
}

.body-modal-order .ul-hdr-pu-table,
.body-modal-order .ul-hdr-do-table{
    margin: 0;
}

.body-modal-order .ul-row-pu-table,
.body-modal-order .ul-row-do-table{
    border: 1px solid rgb(214, 220, 224);
    border-radius: 15px;
    margin: 0 0 20px 0;
}